.tk.block {
  width: 100%;
  margin: 0;
  border: $line_color solid 1px;
  box-shadow: 0 0 1px $line_color;
  border-radius: $global_radius;
  margin-bottom: 30px;
  .header {
    background-color: #444;
    padding: 0px;
    border-radius: $global_radius $global_radius 0 0;
    .banner {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .info {
      float: right;
      text-align: right;
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      bottom: 0px;
      color: white !important;
      background: black;
      background: rgba(0,0,0,0.6);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
      width: 100%;
      height: 80px;
      text-shadow: 0px 0px 1px #000;
      h3 {
        font-size: 28px;
      }
    }
  }
  .body {
    background-color: white;
    padding: 15px;
    padding-top: -40px;
    .tickets-container {
      padding: 30px;
      padding-top: 5px;
    }
  }

  .sub_title {
    font-size: 18px;
  }
}

.tk.block {
  .panel {
    background-color: white;
    margin-bottom: 0 !important;
    .main_info {
      text-align: center;
      padding: 20px;
      i.main {
        font-size: 40px;
      }
      h3 {
        padding: 10px 0 !important;
        padding-bottom: 0px;
        margin-bottom: -5px;
      }
      i.right {
        float: right;
        color: $sub_text_color;
      }

      i.left {
        float: left;
        color: $sub_text_color;
      }
    }
    .info {
      background-color: $gray-sub;
      padding: 5px 10px;
      border-top: 1px solid $line_color;
    }
    dl {
      margin: 0;
      height: 50px;
      dt {
        width: 25%;
        max-width: 33%;
        float: left;
        margin-top: 10px;
      }
      dd {
        float: right;
        margin-top: 10px;
        a.btn {
          margin-top: -7px;
        }
      }
      dd:last-child {
        margin-right: 20px;
      }
    }
  }
}