.tk.card {
  display: inline-block;
  vertical-align: top;
  border: $line_color solid 1px;
  box-shadow: 0 0 1px $line_color;
  padding: 0px;
  background-color: white;
  .cover {
    img {
      width: 100%;
    }
    margin: 0;
    padding: 0;
  }
  .info {
    padding: 10px;
    .title {
      a {
        font-size: 16px;
      }
    }
    .actions {
      margin-top: 10px;
      padding-bottom: 15px;
      a {
        float: right;
        margin-bottom: 10px;
      }
    }
  }
  margin-bottom: 20px;
}

.cards.row {
  margin-top: 35px;
}
