html {
  font-size: 12px !important;
}

a, p {
  color: $basic_text_color;
}

span {
  color: $sub_text_color;
}

h1, h2, h3, h4, h5, h6, h7 {
  color: $title_text_color;
  margin-top: 0 !important;
}

a:hover, a:active, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  @include transform(color, 0.28s);
  color: $active_color;
}

h1.title:after, h2.title:after, h3.title:after {
  position: absolute;
  content: '';
  top: 35px;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,.1)),to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
  background-image: linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
}

.sub-title {
  color: $sub_text_color;
}

.tk {
  input, textarea {
    border-radius: 0;
    border: 1px solid $border_color;
    box-shadow: none;
  }

  input:focus, textarea:focus {
    @include transform(border, .18s);
    border: 1px solid $blue;
    border-left: 3px solid $blue;
    box-shadow: 0 0 2px $line_color;
  }
}
