// Basic Positions
$page_padding: 30px;
$nav_height: 65px;

// Colors
$basic_text_color: #89949b;
$active_color: #008fd5;

$sub_text_color: lighten($basic_text_color, 20%);
$title_text_color: darken($basic_text_color,20%);

$background_color: #fff;
$line_color: #eee;
$border_color: #b8c3c9;

$blue: $active_color;

// Grid System
$grid-gutter-width: 30px;

// Border
$global_radius: 3px;
