/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 * require _font-awesome-ie7.min
 */
@import "var";
@import 'mixin';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "nav";
@import "basic_layout";
@import "sidebar";
@import "text";
@import "card";
@import "button";
@import "modal";
@import "block";
@import "ticket";

.only-xs {
  display: none !important;
}

@media (max-width: 767px) {
  .only-xs {
    display:block !important;
  }
}

body.tk.home {
  background-color: white;
}

.tk.divider {
  position: relative;
  content: '';
  top: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),color-stop(50%,rgba(0,0,0,.1)),to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
  background-image: -moz-linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
  background-image: linear-gradient(rgba(0,0,0,0) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,0) 100%);
  margin: 20px 0;
}
